@import "reset.css";
@import "base.css";
@import "theme.css";
@import url(card-component.css);
@import url(button-component.css);

/* 카드 레이아웃 */
.grid-cards {
  display: grid;
  grid-template-columns: [cell-span-start cell-odd-start] 1fr [cell-odd-end cell-even-start] 1fr [cell-even-end cell-span-end];
  gap: var(--base-spacing);

  .card {
    grid-column: cell-span;

    &.airPods-pro {
      background-position-y: 90%;
    }

    @media (width >= 1024px) {
      &.grid-item-odd {
        grid-column: cell-odd;
      }

      &.grid-item-even {
        grid-column: cell-even;
      }

      &.macBook-air {
        .btn.line-type {
          --bg-color: var(--white);
        }
      }
    }

    /* producet background image */
    @media (max-resolution: 1x) {
      &.iPad-pro {
        --bg-image: url(../products/ipad_pro.jpeg);
      }
      &.iPad-air {
        --bg-image: url(../products/ipad_air_wide.jpeg);
      }
      &.iPhone15pro {
        --bg-image: url(../products/iphone15_pro_wide.jpeg);
      }
      &.iPhone15 {
        --bg-image: url(../products/iphone15.jpeg);
      }
      &.watch {
        --bg-image: url(../products/apple_watch.jpeg);
      }
      &.macBook-air {
        --bg-image: url(../products/macbook_air.jpeg);
      }
      &.airPods-pro {
        --bg-image: url(../products/airpods_pro.jpeg);
      }
    }
    @media (min-resolution: 2x) {
      &.iPad-pro {
        --bg-image: url(../products/ipad_pro_2x.jpeg);
      }
      &.iPad-air {
      --bg-image: url(../products/ipad_air_wide_2x.jpeg);
      }
      &.iPhone15pro {
        --bg-image: url(../products/iphone15_pro_wide_2x.jpeg);
      }
      &.iPhone15 {
        --bg-image: url(../products/iphone15_2x.jpeg);
      }
      &.watch {
        --bg-image: url(../products/apple_watch_2x.jpeg);
      }
      &.macBook-air {
        --bg-image: url(../products/macbook_air_2x.jpeg);
      }
      &.airPods-pro {
        --bg-image: url(../products/airpods_pro.jpeg);
      }
    }
  }
}
