@import "reset.css";
@import "base.css";
@import "theme.css";
@import url(card-component.css);
@import url(button-component.css);

/* 카드 레이아웃 */
.grid-cards {
  display: grid;
  grid-template-columns: [cell-span-start cell-odd-start] 1fr [cell-odd-end cell-even-start] 1fr [cell-even-end cell-span-end];
  gap: var(--base-spacing);

  .card {
    grid-column: cell-span;

    &.iPad-pro {
      --bg-image: image-set(url(../products/ipad_pro.webp) 1x, url(../products/ipad_pro_2x.webp) 2x);
    }
    &.iPad-air {
      --bg-image: image-set(url(../products/ipad_air_wide.webp) 1x, url(../products/ipad_air_wide_2x.webp) 2x);
    }
    &.iPhone15pro {
      --bg-image: image-set(url(../products/iphone15_pro_wide.webp) 1x, url(../products/iphone15_pro_wide_2x.webp) 2x);
    }
    &.iPhone15 {
      --bg-image: image-set(url(../products/iphone15.webp) 1x, url(../products/iphone15_2x.webp) 2x);
    }
    &.watch {
      --bg-image: image-set(url(../products/apple_watch.webp) 1x, url(../products/apple_watch_2x.webp) 2x);
    }
    &.macBook-air {
      --bg-image: image-set(url(../products/macbook_air.webp) 1x, url(../products/macbook_air_2x.webp) 2x);
    }
    &.airPods-pro {
      --bg-image: image-set(url(../products/airpods_pro.webp) 1x, url(../products/airpods_pro.webp) 2x);
      background-position-y: 90%;
    }

    @media (width >= 1024px) {
      &.grid-item-odd {
        grid-column: cell-odd;
      }

      &.grid-item-even {
        grid-column: cell-even;
      }

      &.macBook-air {
        .btn.line-type {
          --bg-color: var(--white);
        }
      }
    }
  }
}
