/* 카드 컴포넌트 */
.card {
  --card-block-start-spacing: var(--large-spacing);
  --txt-block-start-gap: var(--small-spacing);
  --txt-block-end-gap: var(--x-small-spacing);
  --title-font-size: var(--large-text);
  --sub-title-font-size: var(--base-text);
  --description-font-size: var(--small-text);
  --txt-color: var(--black);
  --btn-column-gap: var(--base-spacing);
  --animation-timing: .2s;

  block-size: var(--size);
  padding-block-start: var(--card-block-start-spacing);
  background-image: var(--bg-image);
  background-size: auto 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  color: var(--txt-color);
  text-align: center;
  transition: padding var(--animation-timing);

  .card__title {
    display: block;
    padding-block-end: var(--txt-block-start-gap);
    font-size: var(--title-font-size);
    font-weight: 900;
    line-height: 1;
    letter-spacing: -.05em;
    transition: font var(--animation-timing);
  }

  .card__sub-title {
    padding-block-end: var(--txt-block-end-gap);
    font-size: var(--sub-title-font-size);
    line-height: var(--line-normal);
    transition: font var(--animation-timing);
  }

  .card__sub-title-txt {
    display: block;
  }

  .card__description {
    padding-block-end: var(--txt-block-start-gap);
    font-size: var(--description-font-size);
  }

  .card__btns {
    display: flex;
    justify-content: center;
    column-gap: var(--btn-column-gap);
  }

  &[class*=grid-item-] {
    background-position-y: 50%;
    background-size: cover;
  }

  &.dark,
  &:nth-of-type(odd) {
    --txt-color: var(--white);
    background-color: #000;

    .btn{
      &.bg-type {
        --bg-color: var(--blue-300);
      }
      &.line-type {
        --btn-txt-color: var(--blue-100);

        &:focus-visible,
        &:hover {
          --btn-txt-color: var(--white);
        }
      }
      &:focus-visible,
      &:hover {
        --border-color: var(--blue-200);
        --bg-color: var(--blue-200);
      }

      &:active {
        --bg-color: var(--blue-400);
      }
    }
  }

  &:nth-of-type(even) {
    .btn{
      &.bg-type {
        --bg-color: var(--black);
      }
    }
  }

  @media (width >= 1024px) {
    --card-block-start-spacing: var(--extra-large-spacing);
    --title-font-size: var(--extra-large-text);
    --sub-title-font-size: var(--medium-text);

    .card__sub-title-txt {
      display: inline;
    }
  }
}
