/* normalize */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figure {
  margin: 0;
}

img {
  border-style: none;
}

ul {
  margin: 0;
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

.avatars-wrap {
  max-width: 538px;
  margin: auto;
  padding-top: 100px;
}
.area-title {
  display: inline-block;
  padding: 0.25rem 0.25rem;
  border: 1px solid #ddd;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 3px;
  vertical-align: top;
}
.avatars-list {
  padding: 100px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: initial;

  li.avatar-item {
    float: left;
    position: relative;
    padding: 10px;
  }
  &:not(.feedback) {
    display: flex;
    flex-flow: row wrap-reverse;
    overflow: hidden;
  }
  &.feedback {
    display: flow-root;
    @supports (display: flex) {
      display: flex;
      flex-wrap: wrap-reverse;
    }

    li {
      float: left;
    }
  }
}
.avatar-item {
  position: relative;
  width: 64px;
  height: 64px;
  padding: 10px;
}
.avatar-item img {
  border-radius: 50%;
  vertical-align: top;
}
.avatar-item .avatar-state {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
  background-color: #dbdbdb;
  font-size: 0;
  border-radius: 50%;
  z-index: 1;
}
.avatar-item .avatar-state.online {
  background-color: #4cfe88;
}
