@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
.avatars-wrap {
  max-width: 538px;
  margin: auto;
  padding-top: 100px;
}
.area-title {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.25rem;
  border: 1px solid #ddd;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 3px;
  vertical-align: top;
}
.avatars-list {
  display: flex;
  flex-flow: row wrap-reverse;
  overflow: hidden;
  padding: 100px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: initial;
}
.avatar-item {
  position: relative;
  float: left;
  padding: 10px;
}
.avatar-item img {
  border-radius: 50%;
  vertical-align: top;
}
.avatar-item .avatar-state {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
  background-color: #dbdbdb;
  font-size: 0;
  border-radius: 50%;
  z-index: 1;
}
.avatar-item .avatar-state.online {
  background-color: #4cfe88;
}
